/* Let's do this like Brutus.... */
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #e5e0d8;
  color: #222;
}

h2 {font-size: 32px !important;}

img {
  width: 100%;
}

/* Full-width header image */
.header-img {
  width: 100%;
  height: auto;
  display: block;
}

/* Body content container */
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 910px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

main {
  flex: 1; /* Pushes footer to the bottom if there's not enough content */
}


#mailchimp-embed-wrapper {
  padding: 14px;
}
#mc_embed_shell {
  max-width: 430px;
  margin: auto;
  border: 1px solid #838383;
  border-radius: 22px;
  background-color: #fff;
}
#mc_embed_signup {
  width: 100% !important;
}
#mc_embed_signup .indicates-required {
  position: relative;
  top: 24px;
  margin-top: -30px;
}
.disclaimer-text {
    font-size: 12px;
    line-height: 17px;
}
img#signup-banner {
  margin-bottom: 30px;
}
.signup-banner-text {
  margin-bottom: 0px;
  font-size: 14px;
}


footer {
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  position: relative;
  margin-top: 40px;
}
.mynah-end-block {
  display: none;
  position: absolute;
  width: 38px;
  top: -33px;
  margin-left: 40px;
}
.mynah-end-block-mayjah {
  position: absolute;
  width: 123px;
  top: -45px;
  right: 10%;
}
footer .disclaimer-text {
  max-width: 600px;
  margin: auto;
}

/* HELPERS */
.flex {
    display: flex;
}

@media (max-width: 600px) {
  header {
    margin-bottom: 10px;
    margin-top: 17px;
  }
  main {
    background-color: #e5e0d8;
    margin-bottom: -40px;
  }

  .mynah-end-block-mayjah {
      width: 153px; 
      top: -55px;
  }
}
